<app-title-pane [title]="'Admin: ' + group.groupName"></app-title-pane>
<app-body-block>
    <app-sub-header content="Invite Token:"></app-sub-header>
    <p class="invite-link">{{inviteLink}}</p>

    <app-sub-header content="Delete Group:"></app-sub-header>
    <app-action-button content="DELETE" [onClick]="deleteGroup"></app-action-button>

    <app-sub-header content="Members:"></app-sub-header>
    <table class="member-view">
        <tr class="member-view-header">
            <th>User ID</th>
            <th>Username</th>
        </tr>
        <tr *ngFor="let member of members">
            <td>{{member.userId}}</td>
            <td>{{member.username}}</td>
        </tr>
    </table>
    <p class="linked-text clickable" routerLink="/group/{{group.groupId}}/overview">Go back to group overview</p>
</app-body-block>
