<app-title-pane [title]="'Admin: ' + group.groupName"></app-title-pane>
<app-body-block>
    <p class="subtitle-header">Invite Token:</p>
    <p class="invite-link">{{inviteLink}}</p>

    <p class="subtitle-header">Delete Group:</p>
    <app-action-button content="DELETE" [onClick]="deleteGroup"></app-action-button>

    <p class="subtitle-header">Members:</p>
    <table class="member-view">
        <tr class="member-view-header">
            <th>User ID</th>
            <th>Username</th>
        </tr>
        <tr *ngFor="let member of members">
            <td>{{member.userId}}</td>
            <td>{{member.username}}</td>
        </tr>
    </table>
</app-body-block>
