<app-title-pane [title]="'Login'"></app-title-pane>
<app-body-block>
    <div class="login-container">
        <app-input-field descriptor="username" placeholder="Username" (userInputChange)="usernameInput = $event"></app-input-field>
        <app-input-field descriptor="password" placeholder="********" [hideInput]="true" (userInputChange)="passwordInput = $event" [onEnter]="login"></app-input-field>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>
        <div class="login-button-container">
            <p class="login-register-link clickable" routerLink="/login/register">register</p>
            <app-action-button content="Login" [onClick]="login"></app-action-button>
        </div>
    </div>
</app-body-block>



