.chip-container {
    background-color: var(--secondary-background-color);
    width: 75vw;
    max-width: var(--content-width);
    margin: 0 auto;
    margin-bottom: 1.5rem;

    padding: 1rem;
    padding-left: 1.5rem;
    border-radius: 2rem;

    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
    .chip-container {
        
    }
}