/* ---------------------------------- */
/*              COMMON                */
/* ---------------------------------- */

.header-title-container {
  background-color: var(--secondary-background-color);
}

/* keep normal cursor when hovering over title */
.header-title-text:hover {
  cursor: pointer;
}

.header-title-text-with-stroke {
    /* Supported by all browsers relevant for assignment, would like a better solution however */
    -webkit-text-stroke: var(--title-border-color);
    -webkit-text-stroke-width: 0.6rem;
    paint-order: stroke fill;
}

.header-title-text {
  margin: 0;

  color: var(--title-center-color);

  font-family: 'Dancing Script', cursive;

  text-align: center;

  position: absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------------------------- */
/*             REGULAR                */
/* ---------------------------------- */

.header-regular-title-container {
  padding: 2rem;
}

.header-regular-title-text {
  position: relative;
  font-size: 4rem;
}

.header-regular-title-text-with-stroke {
  position: absolute;
  top: 0;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .header-title-text-with-stroke {
    -webkit-text-stroke-width: 0.7rem;
  }

  .header-regular-title-text {
    font-size: 8rem;
  }
}

/* ---------------------------------- */
/*               BIG                  */
/* ---------------------------------- */

.header-big-title-container {
  background-color: var(--secondary-background-color);
  margin-bottom: 75vh;
}

.header-big-title-container::after {
  width: 100%;
  height: 65vh;
  
  position: absolute;
  display: block;
  top: 0;
  
  background-color: var(--secondary-background-color);
  
  content: '';
  transform-origin: top right;
  transform: skewY(9deg);
  z-index: 40;
}

.header-big-title-text {
  z-index: 50;
  font-size: 6rem;
  top: 10vh;
}

/* TODO: fix scaling for long mobile devices */
.header-logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 48vh;
  
  z-index: 45;
  height: 23vh;
}

@media only screen and (min-width: 768px) {
  .header-big-title-container {
    margin-bottom: 80vh;
  }

  .header-big-title-container::after {
    transform: skewY(4deg);
  }

  .header-title-text-with-stroke {
    -webkit-text-stroke-width: 1rem;
  }

  .header-big-title-text {
    font-size: 9rem;
  }

  .header-logo {
    top: 43vh;
    height: 27vh;
  }
}