.homepage-title-text {
    margin: 0;

    --border-width: 5px;
    --neg-border-width: 5px;
    color: var(--title-center-color);
    /* text-shadow:    5px 0 0 #fff, 
                    -5px 0 0 #fff, 
                    0 5px 0 #fff, 
                    0 -5px 0 #fff, 
                    2px 2px #fff, 
                    -2px -2px 0 #fff, 
                    2px -2px 0 #fff, 
                    -2px 2px 0 #fff; */

    -webkit-text-stroke: var(--title-border-color);
    -webkit-text-stroke-width: 5px;


    font-family: 'Dancing Script', cursive;
    font-size: 144px;
}

.homepage-title-container {
    background-color: var(--secondary-background-color);
}