<app-title-pane [title]="'Group: ' + group.groupName"></app-title-pane>
<div class="leave-button-container" *ngIf="isMember() && !isAdmin()">
    <app-action-button content="leave" [onClick]="leave"></app-action-button>
</div>
<app-body-block>

    <div class="cake-overview-header">
        <h2 class="cake-overview-notification">
            <div class="cake-overview-notification-highlight">
                {{ mostRecentCake }}
            </div>
            got caked!!!
        </h2>
        <div class="cakeing-button-container" *ngIf="userCanCake">
            <app-big-button content="Cake me" routerLink="/group/{{group.groupId}}/cake-in-progress"></app-big-button>
        </div>
        <p class="centered" *ngIf="!userCanCake"><i><u>Hint:</u> only members can cake</i></p>
    </div>
    <p *ngIf="isAdmin()" class="group-overview-admin-link clickable" routerLink="/group/{{group.groupId}}/admin">admin console</p>
</app-body-block>

<div *ngFor="let cakeEvent of cakeEvents">
    <app-cakechip-group [cakeEvent]="cakeEvent" [isEditable]="isAdmin()" (isClosedChanges)="changeCakeStatus(cakeEvent.cakeId, $event)"></app-cakechip-group>
</div>
