<app-title-pane [title]="'Group: ' + group.groupName"></app-title-pane>
<app-body-block>

    <div class="cake-overview-header">
        <h2 class="cake-overview-notification">
            <div class="cake-overview-notification-highlight">
                {{ mostRecentCake }}
            </div>
            got caked!!!
        </h2>
        <div class="cakeing-button-container">
            <app-big-button content="Cake me" routerLink="/group/{{group.groupId}}/cake-in-progress"></app-big-button>
        </div>
    </div>
    <p *ngIf="isAdmin()" class="group-overview-admin-link clickable" routerLink="/group/{{group.groupId}}/admin">admin console</p>
</app-body-block>

<div *ngFor="let cakeEvent of cakeEvents">
    <app-cakechip [cakeEvent]="cakeEvent"></app-cakechip>
</div>
