.footer-text {
  text-align: center;
  color: var(--secondary-color);
}

.footer-link {
  text-decoration: underline;
  color: var(--secondary-color);
}

.footer-link:hover {
  color: var(--highlight-color)
}
