<app-title-pane title="Create your Group"></app-title-pane>
<app-body-block>
    <p>Couldn't find your friends on getcaked yet?</p>
    <p>No worries, you can create a group and invite them right here:</p>

    <app-input-field placeholder="Group name" descriptor="name" (userInputChange)="groupNameInput = $event"></app-input-field>
    <app-selection-input descriptor="type" [options]="groupTypeOptions" [defaultOption]="groupTypeOptions[1]" (selectedOptionChanges)="groupTypeInput = $event"></app-selection-input>
    <p class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
    <app-action-button content="Create" [onClick]="creatGroup"></app-action-button>
</app-body-block>