<app-sub-header content="Let's play tic tac toe" isFirst="true"></app-sub-header>
<p>Since whomever you're caking is logged in, it looks like you get to play tic tac toe.</p>
<p>To start, click on a field of your choice</p>
<p class="game-end-message" *ngIf="gameState === 1">YOU WON!<br>proceeding to cake...</p>
<p class="game-end-message" *ngIf="gameState === 2">THE GAME TIED!<br>proceeding to cake...</p>
<p class="game-end-message" *ngIf="gameState === 3">YOU LOST!</p>
<div class="ttt-container" [ngClass]="(gameState === 3)? 'ttt-container-lost':''">
    <div class="ttt-row" *ngFor="let row of board; let rowIndex = index">
        <button *ngFor="let item of row; let colIndex = index" [ngClass]="(gameState === 3)? 'ttt-item-lost':''" class="ttt-item" (click)="playMove(rowIndex, colIndex)">{{board[rowIndex][colIndex]}}</button>
    </div>
</div>
<app-error-message [errorMessage]="errorMessage"></app-error-message>
